<p id="notice"><%= notice %></p>

<p>
  <b>Doctor:</b>
  <%= @msrplanner.doctor.name %>
</p>

<p>
  <b>Doctor spel:</b>
  <%= @msrplanner.doctor_spel.name %>
</p>

<p>
  <b>Tft:</b>
  <%= @msrplanner.tft %>
</p>

<p>
  <b>Tfs:</b>
  <%= @msrplanner.tfs %>
</p>

<p>
  <b>Vrx:</b>
  <%= @msrplanner.vrx %>
</p>

<p>
  <b>Lux:</b>
  <%= @msrplanner.lux %>
</p>

<p>
  <b>Nurxl:</b>
  <%= @msrplanner.nurxl %>
</p>

<p>
  <b>Cof:</b>
  <%= @msrplanner.cof %>
</p>

<p>
  <b>Ele:</b>
  <%= @msrplanner.ele %>
</p>


<%= link_to 'Edit', edit_msrplanner_path(@msrplanner) %> |
<%= link_to 'Back', msrplanners_path %>
