<p id="notice"><%= notice %></p>

<p>
  <b>Tft:</b>
  <%= @stock.tft %>
</p>

<p>
  <b>Tfs:</b>
  <%= @stock.tfs %>
</p>

<p>
  <b>Vrx:</b>
  <%= @stock.vrx %>
</p>

<p>
  <b>Lux:</b>
  <%= @stock.lux %>
</p>

<p>
  <b>Nur xl:</b>
  <%= @stock.nur_xl %>
</p>

<p>
  <b>Cof:</b>
  <%= @stock.cof %>
</p>

<p>
  <b>Ele:</b>
  <%= @stock.ele %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
