<ul id="nav">
    <li><%= link_to "Dashboard", "/" %></li>
    <li><%= link_to "Dashboard", "/" %>
        <ul>
            <li><%= link_to "Dashboard", "/" %></li>
            <li><%= link_to "Dashboard", "/" %></li>
            <li><%= link_to "Dashboard", "/" %></li>
        </ul>
        <div class="clear"></div>
    </li>
    <li><a href="#">Parent 03</a>
    <ul>
        <li><a href="#">Item 04</a></li>
        <li><a href="#">Item 05</a></li>
        <li><a href="#">Item 06</a></li>
        <li><a href="#">Item 07</a></li>
    </ul>        
        <div class="clear"></div>
    </li>
    <li><a href="#">Parent 04</a></li>
</ul>
 
<div class="clear"></div>
