<h1>Listing admin_regions</h1>

<table>
  <tr>
    <th>Headquator</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_regions.each do |admin_region| %>
  <tr>
    <td><%= admin_region.headquator %></td>
    <td><%= admin_region.name %></td>
    <td><%= link_to 'Show', admin_region %></td>
    <td><%= link_to 'Edit', edit_admin_region_path(admin_region) %></td>
    <td><%= link_to 'Destroy', admin_region, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Region', new_admin_region_path %>
