<!DOCTYPE html>
<html>
<head>
  <title>Jquerymobile</title>  
  <%= stylesheet_link_tag 'jquery.mobile-1.0a1.min' %>  
  <%= javascript_include_tag :all %>  
  <%= csrf_meta_tag %>
</head>
<body>
<div data-role="page">
<%= render :partial => 'shared/global_links' %>
<%= render :partial => 'shared/tabs' %>
<%= yield %>
</div>
</body>
</html>
